.DS_Storep
.DS_Store
# Editor directories and files
.idea
.vscode
.hbuilderx
*.suo
*.ntvs*
*.njsproj
*.sln
*.hbuilderx
/unpackage/dist/dev
/unpackage/dist/static
/unpackage/dist/build
/unpackage/dist/build/mp-alipay/
/unpackage/dist/build/mp-weixin/
/unpackage/dist/build/app-plus/
/unpackage/dist/build/.automator
/unpackage/cache/
/unpackage/cache/apk
/unpackage/release
/unpackage/res
/unpackage/resources
/node_modules
package-lock.json

